/* ------------- =General -------------- */

html {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-family: "PT Serif", serif;
  color: #222;
  font-weight: normal;
}

/* ------------- =Masthead -------------- */

h1 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: bold;
}

nav a {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125rem;
  color: #8f2440;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

/* ------------- =Image -------------- */

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
}

/* ------------- =Content -------------- */

h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

p.first-child {
  font-size: 1.125rem;
  font-weight: bold;
}

blockquote p {
  font-style: italic;
  font-size: 1.5rem;
}

footer {
  font-size: .8rem;
}

h2.common {
  list-style-type: georgian;
}

h2.tags {
  list-style-type: circle;
  font-size: .8rem;
}
