/* ------------- =General -------------- */

html {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-family: "PT Serif", serif;
  color: #222;
}

/* ------------- =Masthead -------------- */

h1 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: bold;
}

nav a {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125rem;
  color: #8f2440;
}

nav li {
  list-style-type: none;
}

nav a:hover {
  color: #3f1622;
}

/* ------------- =Image -------------- */

img {
  width: 100%;
}

figcaption {
  font-size: 0.8rem;
  font-style: italic;
}
