html {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-size: : 1.125rem;
  font-family: "PT Serif", serif;
  color: #222;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-size: normal;
  color: #3f1622;
  font-weight: normal;
}
